# <center> Проект</center>
Перед началом выполнения проекта, необходимо изменить имя вашего ноутбука/ПК на вашу фамилию на английском языке (например: **Ivanov**). Затем <font color='red'> **обязательно выполнить код в ячейках ниже (их 4)**</font> (*в случае не выполнения, будут вычиляться 5 баллов из проекта*). В случае если модуль `datetime` не установлен нужно установить.

In [1]:
import os
os.getlogin()

'Ekaterina'

In [2]:
import socket
socket.gethostbyname(socket.gethostname())

'192.168.56.1'

In [3]:
!whoami

kaneva\ekaterina

In [4]:
from datetime import datetime

current_time = datetime.now()
print(current_time)
print("Kaneva E.P.") # написать здесь свою фамилию и инициалы

2022-12-27 18:36:40.501256
Kaneva E.P.

Скачайте таблицы в формате .csv из pgadmin и далее считайте данные таблицы.

**Предобработка данных и их изучения.**
1.	Выведите по 5 строк с каждой таблицы.
2.	Введите информацию о каждой таблицы и изучите их (возможно есть какие-то странности. Опишите полученные данные.
3.	Проверьте данные на пропуски и дубликаты.
4.	Вычислите сводную (описательную) статистику о данных датафреймов (таблиц) и выведите ее.
5.	Если в некоторых столбцах нужно изменить данные, измените их и аргументируйте зачем их стоит изменить (например, дата должна иметь тип данных datetime64, а не object).
**Задания:**
1.	Найдите все параметры ПК, имеющие 8x или 40x CD и цену более 600. Отсортируйте по скорости и цене. 
2.	Для каждого производителя, выпускающего лаптоты c объёмом жесткого диска не менее 10 Гбайт и ОЗУ не менее 64 мб, найти скорости таких лаптопов. Выведите производителей и скорость. *Нарисуйте график зависимости скоростей от полученных моделей ноутбуков.*
3.	Найдите номера моделей, тип и цены всех ноутбуков производителя А. Отсортируйте по убыванию цены. Постройте гистограмму изменения цены.
4.	Найдите производителя, номер модели и цену среди ноутбуков с наибольшей стоимостью до 1000; *Нарисуйте график зависимости цен от всех производителей ноутбуков.*
5.	Найдите для каждой модели ПК их количество и максимальное и минимальное ram, сгруппируйте по моделям; переименуйте колонки макс. и мин. в “max/min_ram”;
6.	Проверти гипотезу: «Самые дорогие ноутбуки у производителя А». Опишите полученный результат.
7.	Постройте матрицы корреляции для всех таблиц. Необязательно, но, если будет желание, нарисовать график тепловой карты матриц корреляции используя функцию heatmap из библиотеки seaborn.
8.	Нарисуйте график (*не графики, на одном графики должно отображаться всё*) зависимости цены ноутбук/ПК от объёма жесткого диска. Опишите ваши наблюдения, существует ли какая-то зависимость и т.п.
9.	Найдите: 
    a.	количество товаров каждого типа у каждого производителя; постройте график pie, на должно отображаться доля каждого производителя.
    b.	самый дорогой товар каждого типа, вывести тип и цену;
    c.	производителей, делающих ноутбуки и пк ценой более 600 долларов, но которые не производят принтеры, вывести производителя.
10.	Выведите новую цену каждого ноутбука и ПК получив её как модель+цена+ram. Дайте колонке название ‘strange_sum’ ;
11.	Найти производителей, делающих ноутбуки и ПК, но не принтеры;
12.	Найдите производителя ПК и модель, чья цена ниже средней цены ноутбука, а ram и скорость больше в 1.5 и 1.2 раза соответственно;
13.	Написать общий вывод о полученных результатах (какие важные закономерности были вами обнаружены или получены и т.п.)

In [5]:
import pandas as pd
# считайте данные таблицы
lp = pd.read_csv('laptop.csv')
pc = pd.read_csv('pc.csv')
pr = pd.read_csv('printer.csv')
p = pd.read_csv('product.csv')

1. Выведите по 5 строк с каждой таблицы.

In [6]:
# вывод первых 5 строк
lp.head()

   code  model  speed  ram  hd   price  screen
0     1   1298    350   32   4   700.0      11
1     2   1321    500   64   8   970.0      12
2     3   1750    750  128  12  1200.0      14
3     4   1298    600   64  10  1050.0      15
4     5   1752    750  128  10  1150.0      14

In [7]:
pc.head()

   code  model  speed  ram  hd   cd  price
0     1   1232    500   64   5  12x  600.0
1    10   1260    500   32  10  12x  350.0
2    11   1233    900  128  40  40x  980.0
3    12   1233    800  128  20  50x  970.0
4     2   1121    750  128  14  40x  850.0

In [9]:
pr.head()

   code  model color    type  price
0     1   1276     n   Laser  400.0
1     2   1433     y     Jet  270.0
2     3   1434     y     Jet  290.0
3     4   1401     n  Matrix  150.0
4     5   1408     n  Matrix  270.0

In [10]:
p.head()

  maker  model     type
0     A   1232       PC
1     A   1233       PC
2     A   1276  Printer
3     A   1298   Laptop
4     A   1401  Printer

2. Введите информацию о каждой таблицы и изучите их (возможно есть какие-то странности. Опишите полученные данные.

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    6 non-null      int64
 1   model   6 non-null      int64
 2   speed   6 non-null      int64
 3   ram     6 non-null      int64
 4   hd      6 non-null      int64
 5   price   6 non-null      float64
 6   screen  6 non-null      int64
dtypes: float64(1), int64(6)
memory usage: 464.0 bytes

3. Проверьте данные на пропуски и дубликаты.
4. Вычислите сводную (описательную) статистику о данных датафреймов (таблиц) и выведите ее.
5. Если в некоторых столбцах нужно изменить данные, измените их и аргументируйте зачем их стоит изменить (например, дата должна иметь тип данных datetime64, а не object).

In [49]:
# проверка ну дубли
data.duplicated().sum()

0

3. Проверьте данные на пропуски и дубликаты.

In [51]:
# проверка на пропуски 
data.isna().sum()

code      0
model     0
speed     0
ram       0
hd        0
price     0
screen    0
dtype: int64